@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import './variables.scss';

* {
  align-items: center;
  font-family: $terminal-font;
}

body {
  font-family: $terminal-font;
  background-color: black;
  color: $falcon-color;
  justify-content: flex-start;
  // border: 1px solid orange;
  margin: 25px 25px 25px 25px;
  padding: 0;
}

button {
  display: flex;
  padding: 5px;
  color: $falcon-color;
  border: 1px solid $falcon-color;
  justify-content: space-evenly;
  background-color: black;
  outline: none;
  font-size: 21px;
  font-family: $terminal-font;
  width: 175px;
}

form {
  display: flex;
  font-size: 21px;
  justify-content: center;
}

div {
  justify-content: flex-start;
  display: flex;
  &#stats {
    // border: 1px solid pink;
    height: 650px;
  }
  &#gameboard {
    // border: 1px solid purple;
    height: 650px;
  }
  &.container {
    margin-right: 0;
    &.col-12 {
      justify-content: space-evenly;
    }
  }
  &.col {
    justify-content: flex-end;
    flex-grow: 0;
  }
  &.row {
    // border: 1px solid yellow;
    &.col-12 {
      margin: 0;
      flex-grow: 0;
      &.first-line {
        justify-content: flex-start;
        height: 45px;
      }
      &.second-line {
        justify-content: flex-start;
        height: 45px;
      }
      &.third-line {
        justify-content: space-evenly;
        height: 45px;
      }
      &.fourth-line {
        justify-content: space-evenly;
        height: 45px;
      }
      &.gameboard-stats {
        justify-content: center;
      }
    }
    &.col-6 {
      height: 700px;
    }
  }
  &.btn-container {
    justify-content: space-evenly;
  }
  &.col-6 {
    align-self: baseline;
  }
  &.box {
    &.col-4 {
      justify-content: center;
      align-items: center;
      height: 217px;
      &.zero {
        @include tile-default
        border-color: transparent RGB(51, 255, 51) RGB(51, 255, 51) transparent;
      }
      &.one {
        @include tile-default
        border-color: transparent RGB(51, 255, 51) RGB(51, 255, 51) RGB(51, 255, 51);
      }
      &.two {
        @include tile-default
        border-color: transparent transparent RGB(51, 255, 51) RGB(51, 255, 51);
      }
      &.three {
        @include tile-default;
        border-color: RGB(51, 255, 51) RGB(51, 255, 51) RGB(51, 255, 51) transparent;
      }
      &.four {
        @include tile-default;
        border-color: RGB(51, 255, 51) RGB(51, 255, 51) RGB(51, 255, 51) RGB(51, 255, 51);
      }
      &.five {
        @include tile-default;
        border-color: RGB(51, 255, 51) transparent RGB(51, 255, 51) RGB(51, 255, 51);
      }
      &.six {
        @include tile-default;
        border-color: RGB(51, 255, 51) RGB(51, 255, 51) transparent transparent;
      }
      &.seven {
        @include tile-default;
        border-color: RGB(51, 255, 51) RGB(51, 255, 51) transparent RGB(51, 255, 51);
      }
      &.eight {
        @include tile-default;
        border-color: RGB(51, 255, 51) transparent transparent RGB(51, 255, 51);
      }
    }
  }
}

p {
  display: flex;
  justify-content: flex-start;
  // border: 1px solid $falcon-color;
  font-family: $terminal-font;
  padding: 5px;
  width: 384px;
  font-size: 21px;
  margin-bottom: 0;
}

input {
  display: flex;
  padding: 5px;
  color: $falcon-color;
  border: 1px solid $falcon-color;
  background-color: black;
  outline: none;
  font-size: 21px;
  font-family: $terminal-font;
  margin: 0 0 0 0;
  &[type=submit] {
    justify-content: space-evenly;
    width: 175px;
  }
  &[type=password] {
    width: 350px;
  }
  &[type=text] {
    width: 350px;
  }
  &::placeholder {
    color: $falcon-color;
    opacity: 0.3;
  }
}

.hide {
  display: none;
}

// .player {
//   color: $player-color;
// }
//
// .falcon {
//   color: $falcon-color;
// }
