@mixin tile-default {
  font-family: $terminal-font;
  border-style: $border-style;
  font-size: $type-size;
  justify-content: center;
  align-items: center;
}
@mixin falcon {
  color: RGB(51, 255, 51);
  font-size: 22px;
  font-family: $terminal-font;
}
@mixin player {
  color: RGB(102, 255, 102)
}
@mixin user-input {
  color: RGB(102, 255, 102);
  background: black;
  border: 1px solid $falcon-color;
}
$terminal-font: 'Inconsolata', monospace;
$falcon-color: RGB(51, 255, 51);
$player-color: RGB(102, 255, 102);
$type-size: 200px;
$tile-height: 115px;
$border-style: solid;
